//RecipeForm.js
.search_recipe {
    background: var(--secondary-color);
    height: 100%;
    width: 100%;  

.search_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


.label {
    font-size: 1.2rem;
    padding: 0.6rem 0;
}

input {
    width: 350px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #d5d5d5;
    margin-bottom: 5px;
    outline-color: #d5d5d5 !important;

}
}
}
} 

//RecipeList.js
.search_result {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    margin: 1rem;

.recipe_card {
    margin: 1.5rem;

    h5 {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    
    small {
        background: var(--secondary-color);
        border-radius: 25px;
        padding: 5px;
        font-weight: 600px;
    }
    
    .card_btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    
    &:hover {
        color: #282c34;
    }
    }

    .fav_icon {
        font-size: 1.5rem;

        &:hover {
            color: #282c34;
        }
    }
}
}

//RecipeDetails
.details_section {

.home_btn {
    margin: 10px;

.list_btn {
    text-decoration: none;
    color: #fff;
}
}

h4 {
    text-align: center;
    padding: 2rem 1rem;
    color: #ba5eff;
}

.details_header {
    padding: 2rem;
    width: 100%;

img {
    width: 500px;
}

.details_description {
    padding: 1rem;

h5 {
    padding: 0.6rem 0;
}
}
}

.ingredients {
    padding: 1rem;

ul {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;

li {
    list-style: none;
}
}
}

.procedure_details, .video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
}
}