.homepage {
    background: var(--secondary-color);
    height: 100%;
    width: 100%;

.homepage_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    height: 100vh;

.home_btn {
    margin: 2rem 0;
}
}
}

@media screen and (max-width: 480px) {
    .homepage_content {
    
    h3 {
        font-size: 1.5rem !important;
    }
    }
}